<link rel="stylesheet" href="css/colorjoe.css">

<div class = "drawing">
  <div class = "draw">
    <canvas
      class = "canvas"
      id="draw-area"
      width="400px"
      height="400px"
      style="border: 1px solid #000000;"></canvas>
  </div>
  <div class = "ui-button">
    <div class = "delete-button">
      <button id="clear-button">全消し</button>
    </div>
    <div>
      <button class = "eraser-button" id="eraser-button">消しゴム</button>
    </div>
    <div>
      <button class = "black" id="black-button">黒</button>
    </div>
    <div>
      <button class = "red" id="red-button">赤</button>
    </div>
    <div>
      <button class = "pink" id="pink-button">桃</button>
    </div>
    <div>
      <button class = "orange" id="orange-button">橙</button>
    </div>
    <div>
      <button class = "yellow" id="yellow-button">黄</button>
    </div>
    <div>
      <button class = "green" id="green-button">緑</button>
    </div>
    <div>
      <button class = "light-blue" id="light-blue-button">水</button>
    </div>
    <div>
      <button class = "blue" id="blue-button">青</button>
    </div>
    <div>
      <button class = "purple" id="purple-button">紫</button>
    </div>
  </div>
  
</div>